body {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) fixed;
}
.body{
  width: 800px;
  height: 900px;
  margin:0 auto;
  border-radius: 0px 0px 220px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.741);
  position: relative; z-index: 2;
}
header {  
  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 큰 제목 */
.Title_Zone{
  padding-top: 10px;
  margin-top: 30px;
}
.main_title {
  font-family: 'Tenada';
  font-size: 70px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  margin-left: -450px;
  text-shadow: 3px 3px 3px black;
}

/* 작은 제목 */
.sub_title_1{
  font-family: 'GmarketSansMedium';
  font-size: 35px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -500px;
}
.info_text{
  width: 400px;
  height: 40px;
  background-color: #444444;
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 15px;
  padding-top: 10px;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  display: none;
}
.info:hover + .info_text{
  display: inline-block;
}
/* 리스트 */
ul,li{
  list-style:none;
}
.Cg_Zone{
  margin: 0 auto;
}
.cg_list{
  width: 500px;
  height: 30px; 
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.cg_list button{
  margin-left: 15px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.468);
  color: rgb(0, 0, 0);
  border: none;
  transform:scale(0.9);        
  transition: transform .5s; 
}
.cg_list button:hover{
  transform:scale(1.2);        
  transition: transform .5s; 
}
.cg_list button:focus {
  background-color:#ff4444;
  color: white;
}

/* 검색 창 */
input:focus {outline: none;} /* outline 테두리 없애기 */
.Search_box{
  margin-top: 60px;
  margin-left: 10px;
  display:inline-block;

  /* box-shadow: 1px 1px 3px rgb(128, 128, 128); */
  border: 9px solid transparent;
  border-radius: 3px;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.Search_input{
  margin-left: 15px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
  
}
.Search_icon{
  position:relative;
  background-color: #ffffff;
  border: none;
  text-decoration: none;
}
svg {
  margin-bottom: -5px;
}

/* 검색창 테두리 제거 */
a:link {
  color : rgb(0, 0, 0);
}
a:visited {
  color : black;
}
a:hover {
  color : rgb(0, 0, 0);
}
a:active {
  color : rgb(0, 0, 0)
}



/* 충녕이 */
.ai_bot{
  position: relative; z-index: 2;
  right: -200px;
  bottom: 400px;
  scale: 30%;
}
