<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="2page.css">
  <link rel="stylesheet" href="font.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Brand</h1>
    <nav>
      <span>Menu1</span>
      <span>Menu2</span>
      <span>Menu3</span>
    </nav>
  </header>

  <div class="body">
    <div class="back">
      <div class="two_title">
        AI 충녕이
      </div>
      <div class="Search_Zone">
        <div class="Search_box">
          <form action="/page2/">
          <input class="Search_input" type="text" name="key" placeholder="{{key}}" value="{{key}}">
          <button class="Search_icon" type="submit">
          </form>
            <a href="2page.html">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
              </svg>
            </a>
          </button>
        </div>
      </div>
      <div class="btn_link">
        <a href="/index/">
          <div class="link_home">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
            </svg>
          </div>
        </a>
        <a href="https://www.sejong.go.kr/kor.do" target="_blank">
          <div class="link_web">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
              <line x1="10" y1="14" x2="20" y2="4"></line>
              <polyline points="15 4 20 4 20 9"></polyline>
            </svg>
          </div>
        </a>
        <a href="">
          <div class="link_share">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="6" cy="12" r="3"></circle>
              <circle cx="18" cy="6" r="3"></circle>
              <circle cx="18" cy="18" r="3"></circle>
              <line x1="8.7" y1="10.7" x2="15.3" y2="7.3"></line>
              <line x1="8.7" y1="13.3" x2="15.3" y2="16.7"></line>
            </svg>
          </div>
        </a>
        <a href="">
          <div class="link_star">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
              </path>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div class="result_text">
      "{{key}}"에 관한 총 {{cases}} 건의 검색 결과입니다
    </div>
    <div class="output">
      <div class="op_list">
        <div class="op_table">
          <table class="list_table">
            <th width="50">순번</th>
            <th width="700">제목</th>
            <th width="150">날짜</th>
            <th width="300">수집처</th>
            {% for i in page_obj %}

            <tr>
              <td>{{i.article_num}}</td>
              <td>
                <a href="{{i.href}}" target="_blank"> 
                {{i.title}}
                </a>
              </td>
              <td>{{i.updated}}</td>
              <td>{{i.writer}}</td>
            </tr>
            {% endfor %}
        </div>
        </table>
      </div>
    </div>
    <div class="paging">
      <div class="paging_box">
        <div class="paging_list">
          <ul>
          
            <li><a href="?page={{before_page_num}}&key={{key}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <polyline points="15 6 9 12 15 18"></polyline>
                </svg>
              </a></li>
            {% for page in paginator.page_range %}
                <li><a href="?page={{page}}&key={{key}}" id = {{page}}>{{page}}</a></li>
            {% endfor %}
            <li><a href="?page={{after_page_num}}&key={{key}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <polyline points="9 6 15 12 9 18"></polyline>
                </svg>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<script>
  let page = location.search;
  page = page.split('&')[0].split("=")[1]
  document.getElementById(page).style.color = 'red'
  // document.getElementById()
</script>
</html>