body{
  margin: 0 auto;
}
header {
  height: 80px;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
}
.side_bar {
  left: 0;
  display: flex;
  position: absolute;
  width: 300px;
  height: 100%;
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) fixed;
}
.side_bar_title h1{
  font-family: 'Tenada';
  margin-top: 50px;
  margin-left: 20px;
  font-size: 70px;
  color: rgb(255, 255, 255);
}
.side_bar_title a{
  text-decoration: none;
}
.side_bar_list_background{
  margin-top: 150px;
  margin-left: 30px;
  position: absolute;
}
.side_bar_list_background button{
  width: 200px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px 0px 0px 20px;
  border: none;
}

.side_bar_list_background button:hover {
  background-color: rgb(255, 255, 255);
}

.side_bar_list_background button:active {
  background-color: rgb(255, 255, 255);
}
.side_bar_list_background span{
  font-size: 20px;
}


input:focus {outline: none;} /* outline 테두리 없애기 */

.Search_Zone{
  display: inline;
  width: 300px;
  padding: 30px;
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) fixed;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);

}
.Search_box{
  display:inline-block;
  /* box-shadow: 1px 1px 3px rgb(128, 128, 128); */
}
.drop_nav{
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: 16px;
  margin-left: -10px;
}
select{
  border: none;
  background-color: rgba(240, 248, 255, 0);
  color: white;
}
.select option{
  background: rgba(255, 255, 255, 0);
  color:#ffffff;
  height: 30px;
  font-size: 16px;
}
.Search_input{
  line-height: 60px;

  margin-left: 120px;
  padding-left: 30px;
  width: 500px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
input::placeholder{
  color: white;

}
.Search_icon{
  position:relative;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-decoration: none;
  
}
svg {
  margin-bottom: -5px;
}

/* 검색창 테두리 제거 */
a:link {
  color : rgb(255, 255, 255);
}
a:visited {
  color : rgb(255, 255, 255);
}
a:hover {
  color : rgb(255, 255, 255);
}
a:active {
  color : rgb(255, 255, 255)
}